body {
    overflow-x: hidden;
}

a {
    text-decoration: none !important;
}

header {
    background-color: #fff;
    box-shadow: 0px 1px 7px #eee;
}

.dev-color {
    color: #d53030 !important;
}

.dev-background {
    background-color: #d53030 !important;
}

section.banner {
    background-image: url("img/banner.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div.banner-child {
    padding: 8rem 0;
}

div.banner-content {
    background-color: #DEEBE6;
    font-family: Lyondisplay, sans-serif;
}

.banner-title {
    font-size: 3.5rem;
}

p.banner-success-career {
    font-size: 1.5rem;
}

/* success career card */
div.succcess-career-card>div.card {
    height: 100%;
    border-radius: 10px;
}

div.success-cards-text {
    border-radius: 10px;
}

/* career track */
section.career-track,
section.high-quality-tech {

    background-color: #2B2A35;
}

div.explore-courses>a {
    border-radius: 20px;
}

div.demand-career-track>h1,
h2.high-quality-title {
    border-bottom: 4px solid #FEC483;
}

div.career-track-cards {
    width: 80%;
    margin: auto;
}

/* course card */
div.course-card {
    border-radius: 15px;
}

/* high quality content */
div.high-quality-content+div.high-quality-content {
    margin-top: 50px;
}




/* faq items */
div.faq-item {
    border-left: 6px solid #D53030;
    cursor: pointer;
}



div.faq-item:hover {
    background-color: rgb(31, 30, 30) !important;
}

div.faqs-border {
    border-bottom: 1px dotted #666666;

}

/* tech career */
section.tech-career {
    background-color: #eee;
}

/* marquee */


div.marquee-container>div.marquee-content {
    /* display: inline !important; */
    /* display: block; */
    /* height: 400px; */
    margin: 0 10px;
    /* border: 1px solid red; */
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;

}





div.marquee-box {
    background-color: #F6F6F6;
}

div.marquee-card-content p {
    position: relative;
    bottom: 10px;
    margin-bottom: 0;
}

div.marquee-content div.card {
    height: 320px;
    border: none;
    outline: none;
    border-radius: 1.25rem;
    box-shadow: 1px 1px 5px #fff;
}

div.card-container div.container {
    overflow: hidden;
}

div.marquee-container {
    animation-name: dev_std_views;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    /* background-color: red; */
    /* marquee-container */
}

@keyframes dev_std_views {
    50% {
        transform: translateX(-800px);

    }

    100% {
        /* background-color: blue; */
        transform: translateX(-1600px);
        /* background-color: purple; */
    }




}


/* slider */

div.owl-dots {
    display: none;
}

div.owl-carousel div.item div.card {
    width: 300px;
}

div.owl-nav {
    font-size: 100px;
}

button.owl-prev {

    position: absolute;

    top: 25%;
    left: -5%;
}

button.owl-next {

    position: absolute;
    top: 25%;
    right: 0%;
}

button.owl-prev:hover,
button.owl-next:hover {
    background-color: none !important;
    outline: none;
}

img.owl-img {
    width: 180px !important;
    margin: auto;
}

div.owl-item p {
    padding: 0;
}

img.brand_logo_img {
    width: 100px !important;
    margin: auto;
}

div.item>div.card {
    background-color: #eee !important;
    height: 400px !important;
}

/* slider */